@import url("https://fonts.googleapis.com/css?family=Lato:regular,700,900&display=swap");

.conteiner {
	max-width: 810px;
	margin: 0 auto;
}
body {
	font-family: "Lato", sans-serif;
	font-size: 16px;
	color: #424551;
	line-height: 1.6;
}
h1 {
	font-size: 46px;
	font-weight: 900;
	color: #1e212c;
	line-height: 1.3;
	margin-bottom: 26px;
}
.date {
	height: 26px;
	margin: 0 0 40px 0;
}
.date img {
	padding: 5px 8px 0 0;
}
.date span {
	margin: 0 24px 0 0;
}
img {
	margin: 0 0 60px 0;
}
.lato700 {
	font-size: 20px;
	font-weight: 700;
	color: #1e212c;
	line-height: 1.5;
}
.paragrap-1 {
	padding-bottom: 24px;
}
.text {
	padding-bottom: 48px;
}
.paragrap-4 {
	padding: 0 0 48px 58px;
	background: url("../img/braces.svg") 0 0 / auto no-repeat;
}
.paragrap-5 {
	padding-bottom: 24px;
}
.paragrap-6 {
	padding-bottom: 100px;
}

li {
	padding: 0 0 0 32px;
	background: url("../img/list.svg") 0 5px / auto no-repeat;
	min-height: 15px;
}
.list-1 li {
	padding-bottom: 4px;
}
.list-2 li {
	padding-bottom: 12px;
}
.list-2 {
	max-width: 390px;
	margin-bottom: 22px;
}
h6 {
	font-size: 16px;
	font-weight: 700;
	color: #1e212c;
	line-height: 1.5;
	letter-spacing: 1px;
	text-transform: uppercase;
	margin-bottom: 8px;
}
.h1-list2 {
	margin-bottom: 0 0 14px 0;
}

.button {
	display: inline-block;
	font-weight: 700;
	font-size: 14px;
	background: linear-gradient(55.95deg, #ff3f3a 0%, #f75e05 100%);
	padding: 0px 32px;
	color: #fff;
	letter-spacing: 0.5px;
	border-radius: 4px;
	line-height: 3.14;
	margin-bottom: 100px;
}
